<aside
  class="flex flex-col justify-between min-h-screen bg-[#181411] p-4 w-64"
  style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
>
  <div class="flex flex-col gap-4 mb-6">
    <h1 class="text-white text-base font-medium leading-normal">Thymia</h1>
  </div>

  <nav class="flex flex-col gap-2 flex-1">
    <a
      routerLink="/app/dashboard"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Inicio
    </a>

    <a
      routerLink="/app/therapists"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Terapeutas
    </a>

    <a
      routerLink="/app/journal"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Diario
    </a>

    <a
      *ngIf="currentUser?.role?.name !== 'SUPER_ADMIN'"
      routerLink="/app/chat"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Chat
    </a>

    <a
      routerLink="/app/appointment"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Calendario
    </a>
  </nav>

  <div class="mt-6">
    <a
      routerLink="/app/profile"
      routerLinkActive="bg-[#393028]"
      class="flex items-center gap-3 px-3 py-2 rounded-full text-white text-sm font-medium leading-normal hover:bg-[#393028] transition"
    >
      Configuración
    </a>
  </div>
</aside>