<div class="profile-main-container px-[10%] py-6 text-white">
  <div class="row info-container">
    <div class="col-6">
      <div class="bg-[#2b2420] rounded-xl px-6 py-6 self-start">
        <div class="text-4xl mb-4 text-center">
          <i class="fa-solid fa-user-tie"></i>
        </div>

        <div class="border-b border-[#393028] my-4">
          <label class="text-[#baa99c] block">Nombre Completo:</label>
          <p>{{ profileService.user$().name }}</p>
        </div>

        <div class="border-b border-[#393028] my-4">
          <label class="text-[#baa99c] block">Correo electrónico:</label>
          <p>{{ profileService.user$().email }}</p>
        </div>

        <div class="my-4">
          <label class="text-[#baa99c] block">Última actualización:</label>
          <p>{{ profileService.user$().updatedAt | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="text-center mt-6" *ngIf="!profileService.user$().faceIdValue">
          <button
            class="border border-white text-white rounded-full px-4 py-2 hover:bg-white hover:text-[#181411] transition"
            (click)="enableFaceID()"
          >
            Activar Face ID
          </button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="bg-[#2b2420] rounded-xl px-6 py-6">
            <label class="text-[#baa99c]">Rol:</label>

            <div class="border-b border-[#393028] my-4">
              <label class="text-[#baa99c] block">Nombre:</label>
              <p>{{ profileService.user$().role?.name }}</p>
            </div>

            <div class="border-b border-[#393028] my-4">
              <label class="text-[#baa99c] block">Descripción:</label>
              <p>{{ profileService.user$().role?.description }}</p>
            </div>

            <div class="my-4">
              <label class="text-[#baa99c] block">Última actualización:</label>
              <p>{{ profileService.user$().role?.updatedAt | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
        </div>

       <div
  class="col-12"
  *ngIf="
    profileService.user$()?.role?.name === 'ADMIN' ||
    profileService.user$()?.role?.name === 'SUPER_ADMIN'
  "
>
  <app-admin-user-panel></app-admin-user-panel>
</div>
      </div>
    </div>
  </div>
</div>