<div class="appointment-container">
  <h1>{{ isDoctor ? 'Mis Citas Programadas' : 'Mis Citas' }}</h1>
  
  <div class="appointment-actions">
    <button *ngIf="isDoctor" mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon> Crear Nueva Cita
    </button>
  </div>

  <div class="appointment-content">
    <app-appointment-list 
      [appointments]="appointments" 
      [isDoctor]="isDoctor"
      (delete)="onAppointmentDeleted($event)">
    </app-appointment-list>
  </div>
</div>