<div class="dropdown-wrapper" (click)="toggleDropdown()">
  <div class="media profile-media d-flex align-items-center cursor-pointer">
    <i class="fa-regular fa-user text-white"></i>
    <div class="media-body ms-2">
      <span class="text-white fw-semibold">
        {{ userName }}
        <i class="fa-solid fa-chevron-down ms-2 text-sm text-white"></i>
      </span>
    </div>
  </div>

  <ul *ngIf="dropdownOpen" class="profile-dropdown custom-dropdown">
    <li (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
      <span class="logout-text">Log out</span>
    </li>
  </ul>
</div>
